<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Legacy Box</title>
</head>
<body>
    <div class="landing">
        <div class="navigation">
            <a href="#home">HOME</a>
            <a href="#about">ABOUT</a>
            <a href="#contact">SIGN UP</a>
        </div>
        <div class="lol">
            <div class="image">
                <img src="time.jpeg" alt="Time img" class="centre">
            </div>
        </div>

        <div class="hi">
            <div class="logo">
                <p>
                    LEGACY BOX
                </p>
            </div>
        </div>
    </div>
    <div class="legacy">
        <p class="leap">LEAP THROUGH TIME.</p>
        <div class="log">
            <div class="login-box">
                <p>Login</p>
                <form>
                  <div class="user-box">
                    <input required="" name="" type="text">
                    <label>Email</label>
                  </div>
                  <div class="user-box">
                    <input required="" name="" type="password">
                    <label>Password</label>
                  </div>
                  <a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Submit
                  </a>
                </form>
                <p>Don't have an account? <a href="" class="a2">Sign up!</a></p>
            </div>
        </div>
        

    </div>
    
</body>
</html>