<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signUp.css">
    <title>Sign Up</title>
</head>
<body>
    <h1>LEAP THROUGH TIME.</h1>
    <div class="sign-up">
        <div class="image">
            <img src="capsule.jpeg" alt="Time capsule image">
        </div>
        <div class="blank">
            <div class="log">
                <div class="login-box">
                    <p>Sign Up</p>
                    <form method="POST">
                      <div class="user-box">
                        <input required="" name="email" type="text">
                        <label>Email</label>
                      </div>
                      <div class="user-box">
                        <input required="" name="password" type="password">
                        <label>Password</label>
                      </div>
                    
                      <div class="user-box">
                        <input required="" name="repassword" type="password">
                        <label>Password Again</label>
                      </div>
                      <div class="user-box">
                        <input required="" name="date" type="text">
                        <label>MM/DD/YYYY</label>
                      </div>
                      
                      <a href="index.html#target">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Submit
                      </a>
                    </form>
                
                </div>
            </div>
            
        </div>
    </div>
    <div class="logo">
        <p>
            LEGACY BOX
        </p>
    </div>

</body>
</html>